.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td{
    border: 1px solid #ddd;
    padding: 12px, 15px;
}

.product-table th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
}